segment-anything @ git+https://github.com/facebookresearch/segment-anything.git
LaMa @ git+https://github.com/jessseee/lama.git
torch==2.0.1
pyyaml
tqdm
numpy
scikit-image
scikit-learn
opencv-python
tensorflow
joblib
matplotlib
pandas
omegaconf
easydict
albumentations
hydra-core
pytorch-lightning
tabulate
kornia
webdataset
lit
Pillow
pyparsing
python-dateutil
six
sympy
