LaMa @ git+https://github.com/jessseee/lama.git
torch==2.0
transformers==4.29
numpy==1.24
pyyaml
tqdm
scikit-image
scikit-learn
opencv-python
tensorflow
joblib
matplotlib
pandas
omegaconf
easydict
albumentations
hydra-core
pytorch-lightning
tabulate
kornia
webdataset
lit
Pillow
pyparsing
python-dateutil
six
sympy
